[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chainlit = "*"
openai = "*"
langchain = "*"
langchain-openai = "*"
faiss-cpu = "*"
tiktoken = "*"
langchain-community = "*"
pypdf = "*"
pypdf2 = "*"
tabulate = "*"
pandas = "*"
chromadb = "*"
langchainhub = "*"
langchain-chroma = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
